<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inertia App</title>

    <link rel="stylesheet" href="{{ vite('src/style.css') }}">
    <script type="module" src="{{ vite('@vite/client') }}"></script>
    <script type="module" src="{{ vite('src/main.ts') }}"></script>
    {# {% if app.environment == 'development' %}
        <link rel="stylesheet" href="http://localhost:5173/src/style.css">
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/main.ts"></script> 
    {% endif %} #}
    
</head>
<body>
    <div id="app" data-page="{{ page }}"></div>
</body>
</html>
